canvas, svg {
  position: absolute;
  top: 0;
  left: 0;
}

div {
  position: relative
}


#filter-bar > * {
  display: inline-block;
  vertical-align: middle;
  
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  
  margin-right: 2px;
  margin-left: 2px;
  
  /*border-left: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  border-top: 3px solid black;*/
  
  background-color: gray;
  
  clip-path: polygon(75% 0%, 92% 49%, 75% 100%, 0% 100%, 8% 50%, 0% 0%);
  }

#filter-gender-m #restore-original {
  position: relative;
}

#wrapper {
  width: 1500px;
  height: 1000px;
}
.inspectorPanel {
  width: 300px;
  height: 1000px;
  border: 1px solid black;
  overflow: hidden;
}
.left {
  float: left
}
.right {
  float: right
}

.inspector {
  height: 500px;
}

.flex {
  display: flex;
}

.flex-horizontal {
  flex-direction: row;
}
