.flex-row {
  display: flex;
  flex-direction: row;
}

.collapse-button {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.expand-button {
  width: 20px;
  height: 20px;  
  margin-left: 5px;
}

.collapse-button::after {
  content: "\2212";
  color: grey;
  font-weight: bold;
}

.expand-button::after {
  content: '\002B';
  color: grey;
  font-weight: bold;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.collapse {
  display: block;
  max-width: 0px; 
  overflow: hidden;
  transition: max-width 0.5s cubic-bezier(0, 1, 0, 1);
}

.collapse.show {
  max-width: 99em;
  transition: max-width 0.5s ease-in-out;
}
