<template id="bp2019-y-axis-control-widget" >
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style data-src="/templates/livelystyle.css"></style>
  <style data-src="../BP2019RH1/src/internal/individuals-as-points/common/button-styles.css"></style>
  <style>
    :host {

    }
    #content {
      background-color: gray;
    }
  </style>
  
  <div id="x-axis-controls">
    X Axis: <bp2019-y-axis-group-widget id="x-group-widget"></bp2019-y-axis-group-widget>
    Y Axis: <bp2019-y-axis-group-widget id="y-group-widget"></bp2019-y-axis-group-widget>
    <bp2019-color-widget id="color-widget"></bp2019-color-widget>
    <bp2019-filter-widget id="filter-widget"></bp2019-filter-widget>
  </div>
    
</template>

