<template id="bp2019-map-control-widget" >
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style data-src="/templates/livelystyle.css"></style>
  <style data-src="../BP2019RH1/src/internal/individuals-as-points/common/button-styles.css"></style>
   <style data-src="../BP2019RH1/src/internal/individuals-as-points/map/map-styles.css"></style>

  <div id="bp2019-map-control-widget-root-container">
    
    <bp2019-tab-widget id="bp2019-map-control-widget-tab-widget">
      <div id="tab-buttons" slot="tab-buttons">
        <!-- <div data-content-id="filter-widget" class="tab">Filter</div>
        <div data-content-id="select-widget" class="tab">Select</div>
        <div data-content-id="color-widget" class="tab">Color</div> -->
      </div>
      <div id="tab-contents" slot="tab-contents" class="p-t-1">
        <!-- <bp2019-filter-widget id="filter-widget"></bp2019-filter-widget>
        <bp2019-select-widget id="select-widget"></bp2019-select-widget>
        <bp2019-color-widget id="color-widget"></bp2019-color-widget> -->
      </div>
    </bp2019-tab-widget>
    <div id="bp2019-map-control-widget-tooltip-div">
      <div id="bp2019-map-control-widget-district-tooltip-div" class="tooltip"></div>
      <div id="bp2019-map-control-widget-individual-tooltip-div" class="tooltip"></div>
    </div>
  </div> 
</template>

