<template id="bp2019-inspector-widget" >
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style data-src="/templates/livelystyle.css"></style>
  <style data-src="../BP2019RH1/all-in-one-product/widgetstyle.css"></style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <div id="inspector-widget-root-container">
    <div id="inspector-header" class="row">
      <div id="heading" class="col my-4">
        Individual Inspector
      </div>
    </div>
    <div class="row">
      <lively-inspector id="lively-inspector" class="col"></lively-inspector>
    </div>
  </div>
  
</template>