<template id="bp2019-y-axis-group-widget" >
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style data-src="/templates/livelystyle.css"></style>
  <style data-src="../BP2019RH1/src/internal/individuals-as-points/common/button-styles.css"></style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  
  <div id="root-container" class="p-t-2">
    <div class="form-group">
      <label for="attributeSelect">Attribute:</label>
      <select id="attributeSelect" class="form-control-sm form-control"></select>
    </div>
      
    <button id="applyButton" class="btn btn-sm btn-block">Group</button>
  </div>
  
</template>

