<template id="bp2019-control-panel-widget" >
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style data-src="/templates/livelystyle.css"></style>
  <style data-src="https://lively-kernel.org/lively4/BP2019RH1/src/internal/individuals-as-points/common/collapsing-styles.v2.css"></style>
  <style>
    :host {

    }
    
    #control-panel-container {
      width: auto;
      max-width: 250px;
      height: auto;
      background-color: GreenYellow;
    }
  </style>
  
  <div id="control-panel-root-container" class="flex-row">
    <div id="control-panel-container" class="collapse show"></div>
    <button id="control-panel-toggle-button" class="collapse-button"></button>
  </div>
  
</template>
