<template id="bp2019-inspect-human" >
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style data-src="/templates/livelystyle.css"></style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <style>
    .human {
      display: none;
    }
  </style>
  
  <div id="inspector-widget-root-container">
   
    <div id="theme-data-container" class="row" style="background-image: https://lively-kernel.org/lively4/BP2019RH1/components/assets/themes-background.svg; width: 150px; height: 150px">
      asdfasdf
    </div>
    <div id="image-container" class="row">
      
      <div id="inspect-human-female" class="human">
        <img src="https://lively-kernel.org/lively4/BP2019RH1/components/assets/female-human-scaled.svg" width="100px" height="200px">
      </div>

      <div id="inspect-human-male" class="human">
        <img src="https://lively-kernel.org/lively4/BP2019RH1/components/assets/male-human-scaled.svg" width="100px" height="200px">
      </div>

      <div id="inspect-human-no-gender" class="human">
        <img src="https://lively-kernel.org/lively4/BP2019RH1/components/assets/no-gender-scaled.svg" width="100px" height="200px">
      </div>
    </div>
     <div id="demographic-data-container" class="row" style="background-image: https://lively-kernel.org/lively4/BP2019RH1/components/assets/demographics-background.svg; width: 150px; height: 150px">
  
    </div>
  </div>
</template>