<template id="bp2019-group-chaining-control-widget" >
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style data-src="/templates/livelystyle.css"></style>
  <style data-src="../BP2019RH1/src/internal/individuals-as-points/common/button-styles.css"></style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <div id="group-chaining-control-widget-root-container">
    <bp2019-tab-widget id="group-chaining-control-widget-tab-widget">
      <div id="tab-buttons" slot="tab-buttons">
        <div data-content-id="filter-widget" class="tab">Filter</div>
        <div data-content-id="color-widget" class="tab">Color</div>
      </div>
      <div id="tab-contents" slot="tab-contents" class="pt-1">
        <bp2019-filter-widget id="filter-widget"></bp2019-filter-widget>
        <bp2019-color-widget id="color-widget"></bp2019-color-widget>
      </div>
    </bp2019-tab-widget>
  </div>

</template>