<template id="bp2019-filter-list-element" >
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style data-src="/templates/livelystyle.css"></style>
  <style>
    :host {

    }
    #content {
      background-color: lightgray;
      margin: 2px 2px 2px 2px;
    }
    .inner-object {
      margin: 2px 2px 2px 2px;
    }
  </style>
  
  <div id="content">
    <button class="btn btn-sm btn-block" id="delete-button">X</button>
    <div class="inner-object" id="attribute-view"></div>
    <div class="inner-object" id="values-view"></div>
  </div>
  
</template>

