<template id="bp2019-y-axis-widget" >
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style data-src="/templates/livelystyle.css"></style>
  <style data-src="https://lively-kernel.org/lively4/BP2019RH1/src/internal/individuals-as-points/common/canvas-widget-style.v1.css"></style>
  <style data-src="https://lively-kernel.org/lively4/BP2019RH1/src/internal/individuals-as-points/common/button-styles.css"></style>

  <style>
    :host {

    }
    #content {
      background-color: gray;
    }
    
    .xy-canvas, .xy-svg {
      position: absolute;
    }
  
    #canvas-widget-control-panel-container {
      background: lightgray
    }
    
  </style>
  
  <div id="y-axis-widget-root-container" class="canvas-widget-root-container fluid-container">
    <div class="height-100 flex-row">
      <div id="canvas-widget-control-panel-container">
        <bp2019-y-axis-control-widget id="control-widget"></bp2019-y-axis-control-widget>
      </div>
      <div id="canvas-widget-canvas-container" class="canvas-widget-canvas-container">
          <svg id="rectangle-svg" class="xy-svg"></svg>
          <svg id="draw-svg" class="xy-svg"></svg>
          <svg id="scales-svg" class="xy-svg">
            <g id="x-axis-group"></g>
            <g id="y-axis-group"></g>
          </svg>
        <canvas id="y-axis-widget-canvas" class="xy-canvas"></canvas>
      </div> 
    </div>
  </div>
  
</template>