<template id="bp2019-venn-control-widget" >
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style data-src="/templates/livelystyle.css"></style>
  <style data-src="../BP2019RH1/src/internal/individuals-as-points/common/button-styles.css"></style>
  <style data-src="https://lively-kernel.org/lively4/BP2019RH1/src/internal/individuals-as-points/common/collapsing-styles.v2.css"></style>
  
  <style>
    :host {
      
    }
    
    #content {
      background-color: gray;
    }
    
    #control-panel-root-container {
      width: auto;
      height: auto;
    }
    
    .tab {
      background: lightgray;
      border-top: 1px solid lightgray;
      border-left: 1px solid lightgray;
      border-right: 1px solid lightgray;
    }
    
    .active {
      background-color: white;
      border-top: 1px solid grey;
      border-left: 1px solid grey;
      border-right: 1px solid grey;
    }
    
    #control-panel-container {
      background: lightgray
    }
  </style>
  
    <div id="control-panel-root-container">
        <button id="control-panel-toggle-button" class="collapse-button"></button>
        <div id="control-panel-container" class="collapse show">
          <bp2019-tab-widget id="venn-control-widget-tab-widget">
            <div id="tab-buttons" slot="tab-buttons">
              <div data-content-id="theme-group-widget" class="tab">Themes</div>
            </div>
            <div id="tab-contents" slot="tab-contents" class="pt-1" class="row">
                  <bp2019-theme-group-widget class="col-12 w-100 px-0" id="theme-group-widget"></bp2019-theme-group-widget>
            </div>
          </bp2019-tab-widget>
        </div>
      </div>
</template>