<template id="bp2019-y-axis-control-widget" >
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style data-src="/templates/livelystyle.css"></style>
  <style data-src="../BP2019RH1/src/internal/individuals-as-points/common/button-styles.css"></style>
  <style data-src="https://lively-kernel.org/lively4/BP2019RH1/src/internal/individuals-as-points/common/collapsing-styles.css"></style>
  <style>
  <style>
    :host {

    }
    #content {
      background-color: gray;
    }
    #control-panel-root-container {
      width: auto;
      height: auto;
    }
  </style>
  
  <div id="control-panel-root-container" class="flex-row">
    <div id="control-panel-container" class="collapse show">
      <bp2019-tab-widget id="canvas-tab-widget">
        <div id="tab-buttons" slot="tab-buttons" class="p-1">
          <div data-content-id="x-group-widget" class="tab">X Axis</div>
          <div data-content-id="y-group-widget" class="tab">Y Axis</div>
        </div>

        <div id="tab-contents" slot="tab-contents" class="p-1">
          <bp2019-y-axis-group-widget id="x-group-widget"></bp2019-y-axis-group-widget>
          <bp2019-y-axis-group-widget id="y-group-widget"></bp2019-y-axis-group-widget>
        </div>
      </bp2019-tab-widget>
    </div>
    <button id="control-panel-toggle-button" class="collapse-button"></button>
  </div>
    
</template>