<template id="bp2019-map-control-widget" >
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style data-src="/templates/livelystyle.css"></style>
  <style data-src="../BP2019RH1/src/internal/individuals-as-points/common/button-styles.css"></style>
   <style data-src="../BP2019RH1/src/internal/individuals-as-points/map/map-styles.css"></style>
   <style data-src="https://lively-kernel.org/lively4/BP2019RH1/src/internal/individuals-as-points/common/collapsing-styles.css"></style>
  
  <div id="bp2019-map-control-widget-root-container" class="flex-row">
    <div id="control-panel-container" class="collapse show">
      <div id="bp2019-map-control-widget-tooltip-div">
        <div id="bp2019-map-control-widget-district-tooltip-div" class="tooltip"></div>
        <div id="bp2019-map-control-widget-individual-tooltip-div" class="tooltip"></div>
      </div>     
    </div>
    <button id="control-panel-toggle-button" class="collapse-button"></button>
  </div> 
</template>

