<template id="group-chaining-widget" >
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style data-src="/templates/livelystyle.css"></style>
  <style data-src="../BP2019RH1/all-in-one-product/widgets/widgetstyle.css"></style>
  
  <div id="root-container" class="canvas-widget">
    <div id="control-widget-container">
      <group-chaining-control-widget id="control-widget"></group-chaining-control-widget>
    </div>
    <div id="canvas-container">
      <canvas id="canvas"></canvas>
    </div>
  </div>

</template>